<div style="float:left; width:80%; ">
  {{#events}}
<div style="float:left; width:30%;margin:15px;border-color:black;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border:1px solid; border-radius:15px; height:150px;" class="card">
     <div class="card-body">
        <h2 class="card-title">{{ title }}</h2>
        <p class="card-text">{{ description }}</p>
</div>
    </div>

  {{/events}}
</div>
